* {
    padding:0;
    margin:0;
    max-width: 1440px;
}

@font-face {
    font-family: "Dejavu Sans";
    src: url(bpg_dejavu_sans.otf);
}

ul , ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    height: 200px;
    background-color:#D9D9D9;
    align-items: center;
}
.navbar {
    display: flex;
    font-size: 24px;
    font-family: "ALK Life";
    align-items: center;
}

.logo {
    margin-left: 130px;
}

.menu-ul {
    margin-left: 287px;
    padding: 0;
    width: 715px;
    height: 30px;
    display: flex;
}

.wignebi {
    color: #A62B28;
}
.menu {
    color: #717276;
    margin-left: 38px;
}

/* main */

.section {
    display: flex;
}
.backgr-img {
    margin: auto;
    margin-top: 160px;
}

/* frame */

.frame {
    width: 533px;
    margin-top: 160px;
    margin-left: 130px;
    display: flex;
    align-items: center;
}

.frame-font-dejavu {
    font-family: "Dejavu Sans";
    margin-left: 40px;
    font-size: 32px;
    color: #717276;
}

/* article 2 */

.book1 {
    display: inline-flex;
    width: 380px;
    margin-top: 40px;
    margin-left: 130px;
}

.book2-3 {
    display: inline-flex;
    width: 380px;
    margin-left: 20px;
}

.name {
    font-family: "Dejavu Sans";
    font-size: 24px;
    color: #717276;
    font-weight: 700;
}
.name-book {
    margin-top: 8px;
    font-family: "ALK Life";
    font-size: 24px;
    font-weight: 400;
    color: black;
}

.name-price {
    margin-top: 8px;
    font-size: 24px;
    font-family: "Dejavu Sans";
    font-weight: 700;
    color:black;
}

.name-p {
    margin-top: 50px;
}

/* frame 2 */

.frame2 {
    display: flex;
    margin-left: 130px;
    width: 432px;
    margin-top: 160px;
    align-items: center;
}

.authors-article {
    display: flex;
    margin-left: 130px;
    margin-top: 40px;
    width: 1180px;
}

.authors-article-imgs {
    padding-left: 20px;
}

/* footer */

.footer {
    display: flex;
    background-color: #D9D9D9;
    height: 248px;
    margin-top: 160px;
}

.footer-div-ul {
    width: 174px;
    height: 106px;
    margin-left: 130px;
    padding-top: 71px;
}

.footer-menu {
    font-family: "ALK Life";
    font-size: 24px;
    font-weight: 400;
    margin-top: 8px;
}

.footer a {
    color: black;
}

.links {
    margin-left: 802px;
    margin-top: 71px;
}

.links a {
    margin-left: 21px;
}

